<body class="blue-skin">
    <div class="Loader"></div>

    <div id="main-wrapper">

    
        <!-- End Header -->
        <div class="clearfix"></div>

        <!-- About Section -->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <!-- Image -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEXN6j1vp54pjT0SbP5ug4OF_ypi-HbbqEIQ&s" alt="Library" class="img-fluid">
                    </div>
                    <!-- Content -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="about-captione">
                            <h6 class="text-blue">About Our Library</h6>
                            <h2>Explore, Learn, and Grow with Us</h2>
                            <p>Welcome to our library management system, designed to make it easy for you to explore, borrow, and manage books. We are dedicated to providing seamless access to knowledge.</p>
                            <ul class="lists-3 mt-3">
                                <li>Search and Borrow Books Online</li>
                                <li>Manage Memberships and Transactions</li>
                                <li>Access to a Wide Range of Resources</li>
                            </ul>
                            <a href="#" class="btn dark-2 btn-rounded">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section -->

        <!-- Library Stats -->
        <section class="gray-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-9">
                        <div class="sec-heading">
                            <h2>Library <span class="theme-cl-2">Statistics</span></h2>
                            <p>Discover how our library empowers learning and community engagement.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Single Stat -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="achievement-wrap">
                            <div class="achievement-content">
                                <div class="ache-icon purple"><i class="ti-book"></i></div>
                                <h4><span class="cto">15</span>K</h4>
                                <p>Total Books</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Stat -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="achievement-wrap">
                            <div class="achievement-content">
                                <div class="ache-icon green"><i class="ti-user"></i></div>
                                <h4><span class="cto">500</span>+</h4>
                                <p>Registered Members</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Stat -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="achievement-wrap">
                            <div class="achievement-content">
                                <div class="ache-icon yellow"><i class="ti-bookmark"></i></div>
                                <h4><span class="cto">1.2</span>K</h4>
                                <p>Books Borrowed</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Stat -->
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="achievement-wrap">
                            <div class="achievement-content">
                                <div class="ache-icon red"><i class="ti-crown"></i></div>
                                <h4><span class="cto">50</span>+</h4>
                                <p>Awards Won</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Library Stats -->

        <!-- Call to Action -->
        <section class="call-to-act" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8">
                        <div class="clt-caption text-center mb-4">
                            <h2 class="text-blue">Join Our Library Today!</h2>
                            <p class="text-info">Experience unlimited access to resources and knowledge.</p>
                        </div>
                        <div class="inner-flexible-box subscribe-box">
                            <div class="input-group">
                                <input type="text" class="form-control large" placeholder="Enter your email here">
                                <button class="btn btn-subscribe bg-dark" type="button"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Call to Action -->

        <!-- Footer -->
        <footer class="dark-footer skin-dark-footer">
            <div>
                <div class="container">
                    <div class="row">
                        <!-- About -->
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-widget">
                                <img src="assets/bib.png" class="img-fluid f-logo" width="120" alt="Library Logo">
                                <p>123 Library Street, Knowledge City<br>Learning State, 56789</p>
                                <ul class="footer-bottom-social">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Quick Links -->
                       
                      
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12 text-center">
                            <p class="mb-0">© 2023 Library System. Designed by Your Name. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>

    <!-- Scripts
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script> -->
</body>
